.current {
    background-color: #36494d;
}

.current a {
    color: #fdfaf5;
}

#banner {
    background-color: #9da993;
    color: #36494d;
}

.about-me {
    text-align: center;
    font-size: 1.5rem;
}

