.hero {
    background-image: url("file:///Users/caitlindoyle/Sites/academy-php7/html/portfolio/images/forestbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.col-2 {
    width: 45%;
    margin: 20px;
    padding: 40px;
    float: left;
}

.picture img {
    width: 200px;
}

.description {
    text-align: right;
    font-size: 1.7rem;
}