* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: #3c5551;
}

.container {
    margin: 0 auto;
    width: 950px;
    overflow: auto;
}

a {
    text-decoration: none;
}

/*NAV BAR*/

.navbar {
    overflow: hidden;
    background-color: #fdfaf5;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding: 100px 0;
}

.menu {
    float: left;
    margin: auto;
    padding-top: 8px;
}

.navigation li {
    float: left;
    list-style: none;
    margin-right: 25px;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 5px;
}

.navigation li:hover {
    background-color: #3c5551;
    transition: all 0.5s ease-in-out;
}

.navigation a,
.hire-link a {
    color: #3c5551;
}

.navigation a:hover,
.hire-link a:hover {
    color: #fdfaf5;
    cursor: pointer;
}

.logo {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    height: 60px;
}

/*FOOTER */

footer {
    background-image: url("file:///Users/caitlindoyle/Sites/academy-php7/html/portfolio/images/forestabove.jpg");
    background-size: cover;
    color: #fdfaf5;
}

.footer {
    margin: 0 auto;
    text-align: center;
}

.hire-link {
    padding: 60px 0 40px;
}

.hire-link button {
    background-color: #fdfaf5;
    color: #36494d;
    border: 2px solid #fdfaf5;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 15px 20px;
}

.hire-link button:hover {
    background-color: transparent;
    color: #fdfaf5;
    border: 2px solid #fdfaf5;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footer-contact {
    overflow: auto;
    padding-bottom: 40px;
}

.email {
    float: left;
}

.media li {
    float: right;
    list-style: none;
    margin-right: 25px;
    /*font-size: 1.2rem;*/
    padding: 5px;
    border-radius: 5px;
}

.media li:hover {
    background-color: #fdfaf5;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.media a {
    color: #fdfaf5;
    width: 20px;
    height: 20px;
}

.media a:hover {
    color: #36494d;
}

/*LARGE TABLET BREAKPOINT*/

@media screen and (max-width: 1100px) and (min-width: 800px) {

    .container {
        width: 85%;
    }

}

/*SMALL TABLET BREAKPOINT*/

@media screen and (max-width: 800px) and (min-width: 650px) {

    .container {
        width: 85%;
    }

}

/*PHONE BREAKPOINT*/

@media screen and (max-width: 650px) {
    body {
        font-size: 0.95rem;
    }

    .container {
        width: 85%;
    }



    .media li {
        font-size: 1rem;
    }
}